.optional {
	display: none;
}
.table_container {
    display: table;
}		
.row  {
    display: table-row; 
}
.table_container #header {
	color: white;
	background-color: #0066CC; 
	border: 1px solid red;
}
.cell {
	border: 1px solid #484848;
  	display: table-cell;
   	padding: 4px;
}
.cell.left {
	border-right: None;
}
.cell.middle {
	border-right: None;
	border-left: None;
}
.cell.right {
	border-left: None;
}