body {
	font-family: "Helvetica";
}
#left {
	float: left
}
#right {
	float: right
}
.pane {
	width: 49%;
	padding: 4px;
	text-align: center;
}
.left {
	border: solid 1px #CC2329;
	background: #F6CBCA;
	color: #CC2329;
}
.right {
	border: solid 1px #90AE3E;
	background: #EEF4D4;
	color: #73862A;
}
.category .header {
	padding: 2px;
	text-align: center;
}
#left .category .header {
	background: #CB2026;
	color: white;
}
#right .category .header {
	background: #0B8140;
	color: white;
}
.category .item {
	padding: 4px;
	text-align: center;
}
#left .category .item {
	border: dashed 1px #CC2329;
	border-top: none;
}
#right .category .item {
	border: dashed 1px #0B8140;
	border-top: none;
}